<mat-card style="min-height: 80vh; width: 60vw; margin: 0 auto;">
  <mat-card-title>Main Thread vs. Worker Thread</mat-card-title>
  <mat-divider></mat-divider><br />
  <h2>Run In Main Thread</h2>
  <p>
    The calculations will be ran in the main thread, blocking the UI.
  </p>
  <button mat-raised-button color="primary" (click)="runInMainThread()">Run In Main Thread</button>
  <br />
  <mat-divider></mat-divider>
  <br />
  <h2>Run In Main Thread With Async</h2>
  <p>
    The calculations will be ran in the main thread, blocking it. You'll see that, even though we are running async, the UI is still blocked.
  </p>
  <button mat-raised-button color="warn" (click)="runInMainThreadAsync()">Run In Main Thread Async</button>
  <br />
  <mat-divider></mat-divider>
  <br />
  <h2>Run In Worker Thread</h2>
  <p>
    The calculations will be ran in the worker thread, letting the main thread concentrate on processing the UI.
  </p>
  <button mat-raised-button color="accent" (click)="runInWorkerThread()">Run In Worker Thread</button>
  <br />
  <br />
  <mat-divider></mat-divider>
  <br />
  <span *ngIf="loading === false">Total is: {{total}}</span>
  <mat-spinner mode="indeterminate" *ngIf="loading === true"></mat-spinner>
</mat-card>
